@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<hr/>

<p>Our goal at "Animazing", is to provide customers with the latest news on anime, comics, and manga etc.
    We make it easy for you to locate comic stores within your area, so that you can go and grab the hard copies for yourself. </p>

<hr/>
<img src="~/images/Favorites/img3.jpg" width="1100" height="600" />