
@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Favorites</h2>

<div>
    <div>
        <h2> Marvel Age Spider-Man Vol. 2: Everyday Hero (Digest)</h2>
        <hr />
        <p>
            <img src="~/images/Favorites/img1.jpg" width="220" height="300" style="float:inherit" />
            <hr />
            <br />
            "The Marvel Age of Comics continues! This time around, Spidey meets his match against
            such classic villains as Electro and the Lizard, and faces the return of one of his
            first foes: the Vulture! Plus: Spider-Man vs. the Living Brain, Peter Parker's fight
            with Flash Thompson, and the wall-crawler tackles the high-flying Human Torch!"
        </p>
    </div>

    <hr />
    <br />
    <div>
        <h2>
            Marvel Age Spider-Man (2004)
        </h2>
        <hr />
        <p>
            <img src="~/images/Favorites/img2.jpg" width="220" height="300" style="float:inherit" />
            <hr />
            <br />
            "The Terrible Threat Of The Living Brain!" A state-of-the-art android/search engine
            goes haywire during a demonstration in Peter Parker's school-- but how can Peter slip
            away to become Spider-Man and save the day, when he's stuck in the principal's office
            for fighting with Flash Thompson?! It's Spider-Man Action in the Mighty Marvel Manner!
            Plus, didja hear? PETER FIGHTS FLASH THOMPSON! Also, a Sensational Spider-Man EXTRA!
            "SPIDER-MAN Tackles The TORCH!" -- Spidey tangles with the Fantastic Four's very own
            Human Torch as an impromptu exhibition goes a little too far.
        </p>
    </div>
    <hr />
    <br />

</div>


