
@{
    ViewBag.Title = "LatestNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LatestNews</h2>


    <div>
        <h3>New Comic Releases:</h3>
        <iframe src="https://leagueofcomicgeeks.com/comics/new-comics" width="1000" height="750" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
    </div>