@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CTU Training Solutions</h1>
    <p class="lead"></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>FA1 Jared Moodley 7362</h2>
        <p>
        </p>

    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>

    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>

    </div>
</div>